# Capítulo 2: Programación Python para Machine Learning

---

### 2.1

---

### 2.2.

---

### 2.3.

---

### 2.4.

---

### 2.5.

---

### 2.6.

---

### 2.7.

---

### 2.8.

---

### 2.9.

---

### 2.10

---

### 2.11

### EJERCICIOS PRÁCTICO RESUELTOS DEL CAPÍTULO

In [1]:
# Ejercicio 1
# Variables de diferentes tipos
entero = 10
flotante = 3.14
cadena = "Hola Mundo"
booleano = True

# Mostrar tipos y valores
print(type(entero), entero)
print(type(flotante), flotante)
print(type(cadena), cadena)
print(type(booleano), booleano)

<class 'int'> 10
<class 'float'> 3.14
<class 'str'> Hola Mundo
<class 'bool'> True

In [2]:
# Ejercicio 2
# Números para operaciones
a = 15
b = 5

# Operaciones aritméticas
suma = a + b
resta = a - b
multiplicacion = a * b
division = a / b

# Mostrar resultados
print("Suma:", suma)
print("Resta:", resta)
print("Multiplicación:", multiplicacion)
print("División:", division)

Suma: 20
Resta: 10
Multiplicación: 75
División: 3.0

In [3]:
# Ejercicio 3
# Cadenas para concatenar
cadena1 = "Hola"
cadena2 = "Mundo"

# Concatenación
resultado = cadena1 + " " + cadena2

# Mostrar resultado
print(resultado)

Hola Mundo

In [4]:
# Ejercicio 4
# Lista de números
numeros = [1, 2, 3, 4]

# Añadir un número al final
numeros.append(5)

# Mostrar lista modificada
print(numeros)

[1, 2, 3, 4, 5]

In [5]:
# Ejercicio 5
# Número para evaluar
numero = -3

# Condicionales
if numero > 0:
    print("Positivo")
elif numero < 0:
    print("Negativo")
else:
    print("Cero")

Negativo

In [6]:
# Ejercicio 6
# Número entero y cadena
numero_entero = 7
cadena_numero = "42"

# Conversión de tipos
numero_flotante = float(numero_entero)
numero_entero_convertido = int(cadena_numero)

# Mostrar resultados
print(numero_flotante)
print(numero_entero_convertido)

7.0
42

In [7]:
# Ejercicio 7
# Lista de frutas
frutas = ["manzana", "plátano", "cereza", "fresa"]

# Acceder al tercer elemento
tercera_fruta = frutas[2]

# Mostrar resultado
print(tercera_fruta)

cereza

In [8]:
# Ejercicio 8
# Números para comparar
a = 10
b = 15

# Comparaciones
son_iguales = a == b
a_es_mayor = a > b

# Mostrar resultados
print("Son iguales:", son_iguales)
print("A es mayor que B:", a_es_mayor)

Son iguales: False
A es mayor que B: False

In [ ]:
# Ejercicio 9
# # Diccionario con datos del libro
libro = {
    "título": "Cien años de soledad",
    "autor": "Gabriel García Márquez",
    "año": 1967,
}

# Mostrar el año
print(libro["año"])

1967

In [10]:
# Ejercicio 10
# Definir función
def sumar(a, b):
    return a + b


# Llamar a la función
resultado = sumar(5, 3)

# Mostrar resultado
print(resultado)

8

In [11]:
# Ejercicio 11
# Lista de números
numeros = [10, 20, 30, 40, 50]

# Obtener sublista
sublista = numeros[1:4]

# Mostrar sublista
print(sublista)

[20, 30, 40]

In [12]:
# Ejercicio 12
# Lista de nombres
nombres = ["Ana", "Juan", "Carlos"]

# Iterar e imprimir cada nombre
for nombre in nombres:
    print(nombre)

Ana
Juan
Carlos

In [13]:
# Ejercicio 13
# Contador inicial
i = 1

# Bucle while
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [14]:
# Ejercicio 14
# Definir la función
def saludar(nombre, saludo="Hola"):
    return f"{saludo}, {nombre}!"


# Llamar a la función
print(saludar("Marta"))
print(saludar("Juan", "Buenos días"))

Hola, Marta!
Buenos días, Juan!

In [15]:
# Ejercicio 15
# Números para dividir
a = 10
b = 0

# Intento de división
try:
    resultado = a / b
    print("Resultado:", resultado)
except ZeroDivisionError:
    print("Error: No se puede dividir por cero.")

Error: No se puede dividir por cero.

In [16]:
# Ejercicio 16
numero_entero = 7
numero_flotante = 3.5

suma = numero_entero + numero_flotante
resta = numero_entero - numero_flotante
multiplicacion = numero_entero * numero_flotante
division = numero_entero / numero_flotante

print("Suma", suma)
print("Resta", suma)
print("Multiplicación", suma)
print("División", suma)

Suma 10.5
Resta 10.5
Multiplicación 10.5
División 10.5

In [17]:
# Ejercicio 17
lista_numeros = [1, 2, 3, 4, 5]
lista_numeros.append(6)

elemento_accedido = lista_numeros[2]
del lista_numeros[1]

print("lista", lista_numeros)

lista [1, 3, 4, 5, 6]

In [18]:
# Ejercicio 18
informacion_estudiante = {
    "nombre": "Ana",
    "edad": 22,
    "curso": "Python para Machine Learning",
}
edad_estudiante = informacion_estudiante["edad"]
edad_estudiante

22

In [19]:
# Ejercicio 19
a = 10
b = 5

igualdad = a == b
mayor_que = a > b
operacion_and = (a > 5) and (b < 10)

print(igualdad)
print(mayor_que)
print(operacion_and)

False
True
True

In [20]:
# Ejercicio 20
import pandas as pd

datos = {
    "Nombre": ["Alice", "Bob", "Charlie"],
    "Edad": [25, 30, 22],
    "Ciudad": ["Ciudad A", "Ciudad B", "Ciudad C"],
}

df = pd.DataFrame(datos)
info_df = df.info()

mayores_de_25 = df[df["Edad"] > 25]
mayores_de_25

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  3 non-null      object
 1   Edad    3 non-null      int64
 2   Ciudad  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

  Nombre  Edad    Ciudad
1    Bob    30  Ciudad B

# FIN DEL CAPÍTULO