# Apendice: Programación Python, breve introducción para el libro

---

### 1. ¿Qué es Python?

### 1.1.

In [ ]:
# Ejercicio 1
def saludo(nombre):
    """Esta función saluda a la persona cuyo nombre es pasado como parámetro"""
    return f"Hola, {nombre}! Bienvenido a Python."

# Llamamos a la función y pasamos un nombre
print(saludo("Rio"))

Hola, Rio! Bienvenido a Python.

### 1.2.

In [ ]:
# Ejercicio 2
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
# Ejercicio 3
# Buen estilo: código limpio y legible
def calcular_area_circulo(radio):
    """Calcula el área de un círculo dado su radio."""
    import math

    return math.pi * radio**2


radio = 5
print(f"El área del círculo es: {calcular_area_circulo(radio):.2f}")

El área del círculo es: 78.54

In [ ]:
# Ejercicio 4
# Método explícito para verificar si un número es par
def es_par(numero):
    """Devuelve True si el número es par, False en caso contrario."""
    return numero % 2 == 0


print(es_par(8))  # True
print(es_par(7))  # False

True
False

In [ ]:
# Ejercicio 5
# Método simple para invertir una cadena
def invertir_cadena(cadena):
    """Devuelve la cadena invertida."""
    return cadena[::-1]


print(invertir_cadena("Python version 3"))  # "3 noisrev nohtyP"

3 noisrev nohtyP

### 1.3.

### 1.4.

### 2. Variables y Tipos de Datos

### 2.1.

In [ ]:
# Ejercicio 6
# Declaración e inicialización de variables
nombre = "Aneliz"  # Cadena de texto (str)
edad = 27  # Entero (int)
altura = 1.58  # Flotante (float)
es_estudiante = True  # Booleano (bool)

print(f"Nombre: {nombre}, Edad: {edad}, Altura: {altura}, Estudiante: {es_estudiante}")

Nombre: Aneliz, Edad: 27, Altura: 1.58, Estudiante: True

### 2.2.

In [ ]:
# Ejercicio 7
# Ejemplo de variables en Python
entero = 10
flotante = 10.5
cadena = "Hola Python"
booleano = True

lista = [1, 2, 3, 4]
diccionario = {"nombre": "Guido", "creador_de": "Python"}

entero, flotante, cadena, booleano, lista, diccionario

(10,
 10.5,
 'Hola Python',
 True,
 [1, 2, 3, 4],
 {'nombre': 'Guido', 'creador_de': 'Python'})

### 2.3.

In [15]:
# Ejercicio 8
entero = 11
flotante = entero + 2.5  # Python convierte automáticamente el entero a flotante

print(flotante)  # Salida: 13.5
print(type(flotante))  # Salida: <class 'float'>

13.5
<class 'float'>

In [16]:
# Ejercicio 9
num_str = "123"
num_int = int(num_str)  # Convertir cadena a entero
num_float = float(num_int)  # Convertir entero a flotante

print(type(num_int))  # <class 'int'>
print(type(num_float))  # <class 'float'>

<class 'int'>
<class 'float'>

In [17]:
# Ejercicio 10
lista = [1, 2, 3]
tupla = tuple(lista)  # Convertir lista a tupla
conjunto = set(lista)  # Convertir lista a conjunto
diccionario = dict(enumerate(lista))  # Convertir lista a diccionario

print(tupla)  # (1, 2, 3)
print(conjunto)  # {1, 2, 3}
print(diccionario)  # {0: 1, 1: 2, 2: 3}

(1, 2, 3)
{1, 2, 3}
{0: 1, 1: 2, 2: 3}

In [ ]:
# Ejercicio 11
num1 = input("Ingrese el primer número: ")
num2 = input("Ingrese el segundo número: ")

suma = int(num1) + int(num2)

print(f"La suma es: {suma}")

Ingrese el primer número:  12
Ingrese el segundo número:  14

La suma es: 26

In [19]:
# Ejercicio 12
palabras = input("Ingrese palabras separadas por comas: ").split(",")
tupla_palabras = tuple(palabras)
set_palabras = set(palabras)

print(f"Tupla: {tupla_palabras}")
print(f"Conjunto: {set_palabras}")

Ingrese palabras separadas por comas:  Esta, es una frase, separada por, comas

Tupla: ('Esta', ' es una frase', ' separada por', ' comas')
Conjunto: {' comas', ' separada por', 'Esta', ' es una frase'}

In [20]:
# Ejercicio 13
numero = float(input("Ingrese un número decimal: "))
parte_entera = int(numero)
cadena_numero = str(numero)

print(f"Parte entera: {parte_entera}")
print(f"Representación como cadena: {cadena_numero}")

Ingrese un número decimal:  12.4

Parte entera: 12
Representación como cadena: 12.4

### 2.4.

In [21]:
# Ejercicio 14
nombre = input("Ingrese su nombre: ")

print(f"Hola, {nombre}!")

Ingrese su nombre:  Juan

Hola, Juan!

In [22]:
# Ejercicio 15
mensaje = "Python es un lenguaje de programación"

print(mensaje)

Python es un lenguaje de programación

In [23]:
# Ejercicio 16
nombre = "María"
edad = 32

print("Nombre: " + nombre + ", Edad: " + str(edad))

Nombre: María, Edad: 32

In [24]:
# Ejercicio 17
print("Nombre: {}, Edad: {}".format(nombre, edad))

Nombre: María, Edad: 32

In [25]:
# Ejercicio 18
print(f"Nombre: {nombre}, Edad: {edad}")

Nombre: María, Edad: 32

In [26]:
# Ejercicio 19
print("Línea 1\nLínea 2\nLínea 3")

Línea 1
Línea 2
Línea 3

In [27]:
# Ejercicio 20
print("""Este es un texto en varias líneas""")

Este es un texto en varias líneas

In [28]:
# Ejercicio 21
num1 = float(input("Ingrese el primer número: "))
num2 = float(input("Ingrese el segundo número: "))

print(f"Suma: {num1 + num2}")
print(f"Resta: {num1 - num2}")
print(f"Multiplicación: {num1 * num2}")
print(f"División: {num1 / num2}")

Ingrese el primer número:  13
Ingrese el segundo número:  65

Suma: 78.0
Resta: -52.0
Multiplicación: 845.0
División: 0.2

In [29]:
# Ejercicio 22
celsius = float(input("Ingrese la temperatura en grados Celsius: "))
fahrenheit = (celsius * 9 / 5) + 32

print(f"{celsius} C equivale a {fahrenheit} F")

Ingrese la temperatura en grados Celsius:  27

27.0 C equivale a 80.6 F

In [30]:
# Ejercicio 23
nombre = input("Cual es su nombre? ")
edad = input("Cuantos años tiene? ")
color_favorito = input("Cual es su color favorito? ")

print("\nResumen de la encuesta:")
print(f"Nombre: {nombre}")
print(f"Edad: {edad} años")
print(f"Color favorito: {color_favorito}")

Cual es su nombre?  Raul
Cuantos años tiene?  29
Cual es su color favorito?  amarillo

Resumen de la encuesta:
Nombre: Raul
Edad: 29 años
Color favorito: amarillo

### 3. Operaciones Básicas

### 3.1.

In [32]:
# Ejercicio 24
a = 10
b = 5

suma = a + b
resta = a - b

print(f"Suma: {suma}, Resta: {resta}")

Suma: 15, Resta: 5

In [33]:
# Ejercicio 25
a = 7
b = 3

multiplicacion = a * b
division = a / b
division_entera = a // b

print(f"Multiplicación: {multiplicacion}, División: {division}, División Entera: {division_entera}")

Multiplicación: 21, División: 2.3333333333333335, División Entera: 2

In [34]:
# Ejercicio 26
a = 12
b = 3

modulo = a % b
potencia = a**b

print(f"Módulo: {modulo}, Potencia: {potencia}")

Módulo: 0, Potencia: 1728

In [35]:
# Ejercicio 27
num1 = float(input("Ingrese el primer número: "))
num2 = float(input("Ingrese el segundo número: "))

print(f"Suma: {num1 + num2}")
print(f"Resta: {num1 - num2}")
print(f"Multiplicación: {num1 * num2}")
print(f"División: {num1 / num2}")
print(f"División Entera: {num1 // num2}")
print(f"Módulo: {num1 % num2}")
print(f"Potencia: {num1 ** num2}")

Ingrese el primer número:  13
Ingrese el segundo número:  24

Suma: 37.0
Resta: -11.0
Multiplicación: 312.0
División: 0.5416666666666666
División Entera: 0.0
Módulo: 13.0
Potencia: 5.428007703743705e+26

In [36]:
# Ejercicio 28
base = float(input("Ingrese la base del rectángulo: "))
altura = float(input("Ingrese la altura del rectángulo: "))

area = base * altura
perimetro = 2 * (base + altura)

print(f"Área: {area}, Perímetro: {perimetro}")

Ingrese la base del rectángulo:  7
Ingrese la altura del rectángulo:  3

Área: 21.0, Perímetro: 20.0

In [37]:
# Ejercicio 29
metros = float(input("Ingrese la cantidad en metros: "))
kilometros = metros / 1000
centimetros = metros * 100

print(f"{metros} metros equivalen a {kilometros} kilómetros y {centimetros} centímetros")

Ingrese la cantidad en metros:  1987

1987.0 metros equivalen a 1.987 kilómetros y 198700.0 centímetros

### 3.3.

In [38]:
# Ejercicio 30
a = 10
b = 5

print(a == b)  # False
print(a != b)  # True
print(a > b)  # True
print(a < b)  # False
print(a >= b)  # True
print(a <= b)  # False

False
True
True
False
True
False

In [39]:
# Ejercicio 31
x = True
y = False

print(x and y)  # False
print(x or y)  # True
print(not x)  # False

False
True
False

In [40]:
# Ejercicio 32
num1 = float(input("Ingrese el primer número: "))
num2 = float(input("Ingrese el segundo número: "))

if num1 > num2:
    print(f"{num1} es mayor que {num2}")
elif num1 < num2:
    print(f"{num1} es menor que {num2}")
else:
    print("Ambos números son iguales")

Ingrese el primer número:  20
Ingrese el segundo número:  -3

20.0 es mayor que -3.0

In [41]:
# Ejercicio 33
usuario_correcto = "admin"
clave_correcta = "1234"

usuario = input("Ingrese su usuario: ")
clave = input("Ingrese su contraseña: ")

if usuario == usuario_correcto and clave == clave_correcta:
    print("Acceso concedido")
else:
    print("Acceso denegado")

Ingrese su usuario:  admin
Ingrese su contraseña:  1234

Acceso concedido

In [42]:
# Ejercicio 34
nota1 = float(input("Ingrese la primera nota: "))
nota2 = float(input("Ingrese la segunda nota: "))
nota3 = float(input("Ingrese la tercera nota: "))

promedio = (nota1 + nota2 + nota3) / 3

if promedio >= 60:
    print(f"Aprobado con {promedio:.2f}")
else:
    print(f"Reprobado con {promedio:.2f}")

Ingrese la primera nota:  24
Ingrese la segunda nota:  65
Ingrese la tercera nota:  98

Aprobado con 62.33

In [43]:
# Ejercicio 35
from datetime import date

# Pedir la fecha de nacimiento
anio_nacimiento = int(input("Ingrese su año de nacimiento: "))
mes_nacimiento = int(input("Ingrese su mes de nacimiento (1-12): "))
dia_nacimiento = int(input("Ingrese su día de nacimiento: "))

# Obtener la fecha actual
hoy = date.today()
fecha_nacimiento = date(anio_nacimiento, mes_nacimiento, dia_nacimiento)

# Calcular la diferencia en años, meses y días
edad_anios = hoy.year - fecha_nacimiento.year
edad_meses = hoy.month - fecha_nacimiento.month
edad_dias = hoy.day - fecha_nacimiento.day

# Ajustar si el mes aún no ha pasado
if edad_meses < 0 or (edad_meses == 0 and edad_dias < 0):
    edad_anios -= 1
    edad_meses += 12

# Ajustar si el día aún no ha pasado
if edad_dias < 0:
    from calendar import monthrange

    mes_anterior = hoy.month - 1 if hoy.month > 1 else 12
    anio_anterior = hoy.year if hoy.month > 1 else hoy.year - 1
    dias_mes_anterior = monthrange(anio_anterior, mes_anterior)[1]
    edad_meses -= 1
    edad_dias += dias_mes_anterior

print(f"Tienes {edad_anios} años, {edad_meses} meses y {edad_dias} días.")

Ingrese su año de nacimiento:  1876
Ingrese su mes de nacimiento (1-12):  9
Ingrese su día de nacimiento:  18

Tienes 148 años, 10 meses y 23 días.

### 3.4.

In [44]:
# Ejercicio 36
frase = input("Ingrese una frase: ")
vocales = "aeiouAEIOU"
contador = sum(1 for letra in frase if letra in vocales)

print(f"La frase tiene {contador} vocales.")

Ingrese una frase:  Esta es UNA Frase con VOCAles

La frase tiene 11 vocales.

In [45]:
# Ejercicio 37
texto = input("Ingrese un texto: ")
texto_invertido = texto[::-1]

print(f"Texto invertido: {texto_invertido}")

Ingrese un texto:  oruro

Texto invertido: oruro

In [46]:
# Ejercicio 38
palabra = input("Ingrese una palabra: ").lower().replace(" ", "")
if palabra == palabra[::-1]:
    print("Es un palíndromo.")
else:
    print("No es un palíndromo.")

Ingrese una palabra:  oruro

Es un palíndromo.

### 3.5.

In [47]:
# Ejercicio 39
lista_vacia = []
lista_numeros = [1, 2, 3, 4, 5]
lista_mixta = [1, "Python", 3.14, True]

print(lista_vacia)
print(lista_numeros)
print(lista_mixta)

[]
[1, 2, 3, 4, 5]
[1, 'Python', 3.14, True]

In [48]:
# Ejercicio 40
lista_numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9]
primer_elemento = lista_numeros[7]  # Accede al primer elemento
ultimo_elemento = lista_numeros[-7]  # Accede al último elemento

print(primer_elemento)
print(ultimo_elemento)

8
3

In [49]:
# Ejercicio 41
lista_numeros[2] = 10  # Modifica el tercer elemento
lista_numeros

[1, 2, 10, 4, 5, 6, 7, 8, 9]

In [50]:
# Ejercicio 42
lista_numeros.append(6)  # Agrega un elemento al final
lista_numeros.insert(2, 99)  # Inserta el número 99 en la posición 2

lista_numeros

[1, 2, 99, 10, 4, 5, 6, 7, 8, 9, 6]

In [51]:
# Ejercicio 43
lista_numeros.pop()  # Elimina el último elemento
lista_numeros.remove(99)  # Elimina el primer elemento con valor 99

lista_numeros

[1, 2, 10, 4, 5, 6, 7, 8, 9]

In [52]:
# Ejercicio 44
lista_numeros.sort()  # Ordena la lista en orden ascendente
lista_numeros.reverse()  # Invierte el orden de la lista

lista_numeros

[10, 9, 8, 7, 6, 5, 4, 2, 1]

In [53]:
# Ejercicio 45
for numero in lista_numeros:
    print(numero)

10
9
8
7
6
5
4
2
1

In [54]:
# Ejercicio 46
diccionario_vacio = {}
diccionario_ejemplo = {"nombre": "Juan", "edad": 25, "ciudad": "Madrid"}

print(diccionario_vacio)
print(diccionario_ejemplo)

{}
{'nombre': 'Juan', 'edad': 25, 'ciudad': 'Madrid'}

In [55]:
# Ejercicio 47
nombre = diccionario_ejemplo["nombre"]  # Accede al valor de la clave 'nombre'
nombre

'Juan'

In [56]:
# Ejercicio 48
diccionario_ejemplo["edad"] = 26  # Modifica el valor de la clave 'edad'
diccionario_ejemplo

{'nombre': 'Juan', 'edad': 26, 'ciudad': 'Madrid'}

In [57]:
# Ejercicio 49
diccionario_ejemplo["profesion"] = "Ingeniero"
diccionario_ejemplo

{'nombre': 'Juan', 'edad': 26, 'ciudad': 'Madrid', 'profesion': 'Ingeniero'}

In [58]:
# Ejercicio 50
diccionario_ejemplo.pop("ciudad")  # Elimina la clave 'ciudad'
diccionario_ejemplo

{'nombre': 'Juan', 'edad': 26, 'profesion': 'Ingeniero'}

In [59]:
# Ejercicio 51
for clave, valor in diccionario_ejemplo.items():
    print(clave, ":", valor)

nombre : Juan
edad : 26
profesion : Ingeniero

In [60]:
# Ejercicio 52
# Crear la lista del 1 al 10
numeros = list(range(1, 11))

# Duplicar los elementos
numeros = [num * 2 for num in numeros]

# Eliminar los números mayores a 15
numeros = [num for num in numeros if num <= 15]

# Ordenar en orden descendente
numeros.sort(reverse=True)

print("Lista final:", numeros)

Lista final: [14, 12, 10, 8, 6, 4, 2]

In [61]:
# Ejercicio 53
# Crear diccionario de estudiantes
notas = {"Ana": 8.5, "Luis": 7.2, "Pedro": 9.1}

# Agregar un nuevo estudiante
notas["Maria"] = 8.8

# Modificar la calificación de un estudiante
notas["Luis"] = 7.9

# Eliminar un estudiante
notas.pop("Pedro")

# Mostrar los estudiantes y sus calificaciones
for estudiante, nota in notas.items():
    print(estudiante, "tiene una nota de", nota)

Ana tiene una nota de 8.5
Luis tiene una nota de 7.9
Maria tiene una nota de 8.8

### 4. Estructuras de Control de Flujo

### 4.1. En General

In [62]:
# Ejercicio 54
# Ejemplo de condicional en Python
edad = 20

if edad >= 18:
    print("Eres mayor de edad.")
else:
    print("No eres mayor de edad.")

Eres mayor de edad.

In [63]:
# Ejercicio 55
# Ejemplo de bucle for en Python
for i in range(5):  # Itera de 0 a 4
    print(i)

# Ejemplo de bucle while en Python
contador = 5
while contador > 0:
    print(contador)
    contador -= 1

0
1
2
3
4
5
4
3
2
1

### 4.2.

In [64]:
# Ejercicio 56
# Clasificación de números
numero = int(input("Ingresa un número entero: "))
if numero > 0:
    print("El número es positivo.")
elif numero < 0:
    print("El número es negativo.")
else:
    print("El número es cero.")

Ingresa un número entero:  -6

El número es negativo.

In [65]:
# Ejercicio 57
# Determinar si un año es bisiesto
año = int(input("Ingresa un año: "))
if (año % 4 == 0 and año % 100 != 0) or (año % 400 == 0):
    print("El año es bisiesto.")
else:
    print("El año no es bisiesto.")

Ingresa un año:  1984

El año es bisiesto.

In [66]:
# Ejercicio 58
# Calculadora de tarifas de envío
peso = float(input("Ingresa el peso del paquete en kg: "))
if peso <= 1:
    costo = 5
elif peso <= 5:
    costo = 10
elif peso <= 10:
    costo = 15
else:
    costo = 25

print(f"El costo de envío es: ${costo}")

Ingresa el peso del paquete en kg:  19876

El costo de envío es: $25

### 4.3.

In [67]:
# Ejercicio 59
# Suma de números del 1 al 100
suma = 0
for numero in range(1, 101):
    suma += numero
print(f"La suma de los números del 1 al 100 es: {suma}")

La suma de los números del 1 al 100 es: 5050

In [69]:
# Ejercicio 60
# Adivinar un número
import random

numero_secreto = random.randint(1, 20)
intento = 0

while intento != numero_secreto:
    intento = int(input("Adivina el número (entre 1 y 20): "))
    if intento < numero_secreto:
        print("Demasiado bajo. Intenta de nuevo.")
    elif intento > numero_secreto:
        print("Demasiado alto. Intenta de nuevo.")
    else:
        print("Felicidades! Has adivinado el número.")

Adivina el número (entre 1 y 20):  10

Demasiado alto. Intenta de nuevo.

Adivina el número (entre 1 y 20):  5

Demasiado alto. Intenta de nuevo.

Adivina el número (entre 1 y 20):  3

Demasiado alto. Intenta de nuevo.

Adivina el número (entre 1 y 20):  2

Demasiado alto. Intenta de nuevo.

Adivina el número (entre 1 y 20):  1

Felicidades! Has adivinado el número.

In [71]:
# Ejercicio 61
# Tablas de multiplicar
numero = int(input("Ingresa un número para ver su tabla de multiplicar hasta el 10: "))
for i in range(1, 11):
    print(f"{numero} x {i} = {numero * i}")

Ingresa un número para ver su tabla de multiplicar hasta el 10:  17

17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170

### 4.4.

In [72]:
# Ejercicio 62
# Lista de Números Impares
impares = [x for x in range(1, 51) if x % 2 != 0]

print(impares)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [73]:
# Ejercicio 63
# Diccionario de Longitudes de Palabras
palabras = ["Python", "Programación", "Compresión", "Listas", "Diccionarios"]
longitudes = {palabra: len(palabra) for palabra in palabras}

print(longitudes)

{'Python': 6, 'Programación': 12, 'Compresión': 10, 'Listas': 6, 'Diccionarios': 12}

In [74]:
# Ejercicio 64
# Diccionario de Números y Raíces Cuadradas
import math

raices = {x: math.sqrt(x) for x in range(1, 11)}

print(raices)

{1: 1.0, 2: 1.4142135623730951, 3: 1.7320508075688772, 4: 2.0, 5: 2.23606797749979, 6: 2.449489742783178, 7: 2.6457513110645907, 8: 2.8284271247461903, 9: 3.0, 10: 3.1622776601683795}

### 4.5.

In [75]:
# Ejercicio 65
# Buscar el primer número divisible por 7 en un rango
for num in range(1, 20):
    if num % 7 == 0:
        print("Se encontró el número:", num)
        break

Se encontró el número: 7

In [76]:
# Ejercicio 66
# Imprimir solo los números impares en un rango
for num in range(1, 10):
    if num % 2 == 0:
        continue  # Salta los números pares
    print(num)

1
3
5
7
9

In [77]:
# Ejercicio 67
# Manejo de división por cero
try:
    num = int(input("Ingrese un número: "))
    resultado = 10 / num
    print("El resultado es:", resultado)
except ZeroDivisionError:
    print("Error: No se puede dividir por cero.")
except ValueError:
    print("Error: Debe ingresar un número entero.")

Ingrese un número:  0

Error: No se puede dividir por cero.

In [78]:
# Ejercicio 68
# Encuentra el Primer Número Negativo
while True:
    num = int(input("Ingrese un número: "))
    if num < 0:
        print("Número negativo detectado. Fin del programa.")
        break

Ingrese un número:  10
Ingrese un número:  20
Ingrese un número:  2
Ingrese un número:  -1

Número negativo detectado. Fin del programa.

In [79]:
# Ejercicio 69
# Saltar Múltiplos de 3
for num in range(1, 21):
    if num % 3 == 0:
        continue
    print(num)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

In [80]:
# Ejercicio 70
# Manejo de Entrada de Usuario
while True:
    try:
        num = int(input("Ingrese un número entero: "))
        print("Número ingresado correctamente:", num)
        break
    except ValueError:
        print("Error: Debe ingresar un número válido.")

Ingrese un número entero:  -0.4

Error: Debe ingresar un número válido.

Ingrese un número entero:  2

Número ingresado correctamente: 2

### 5. Funciones y Programación Modular

### 5.1.

### 5.2.

In [ ]:
# Ejercicio 71
# Definición de una función simple
def saludo():
    print("Hola, bienvenido a Python")


saludo()

Hola, bienvenido a Python

In [ ]:
# Ejercicio 72
def suma(a, b):
    return a + b


resultado = suma(6, 3)
print(resultado)

9

In [ ]:
# Ejercicio 73
def saludar(nombre="Usuario"):
    print(f"Hola, {nombre}")


saludar()  # Usa el valor por defecto
saludar("Carlos")  # Pasa un argumento

Hola, Usuario
Hola, Carlos

In [ ]:
# Ejercicio 74
def suma_numeros(*numeros):
    return sum(numeros)


print(suma_numeros(1, 2, 3, 4, 5, 6))

21

In [ ]:
# Ejercicio 75
def cuadrado(n):
    return n**2


print(cuadrado(9))

81

In [ ]:
# Ejercicio 76
def prueba():
    x = 10
    print(x)


prueba()
print(x)  # Esto generaría un error porque x es local

10
True

In [ ]:
# Ejercicio 77
def invertir_cadena(cadena):
    return cadena[::-1]


print(invertir_cadena("Python, última versión"))

nóisrev amitlú ,nohtyP

### 5.3.

In [ ]:
# Ejercicio 78
def sumar(a, b):
    return a + b


resultado = sumar(3, 5)
print(resultado)

8

In [ ]:
# Ejercicio 79
def saludar(nombre="Usuario"):
    return f"Hola, {nombre}!"


print(saludar())
print(saludar("Carlos"))

Hola, Usuario!
Hola, Carlos!

In [ ]:
# Ejercicio 80
def suma_numeros(*numeros):
    return sum(numeros)


print(suma_numeros(1, 2, 3, 4, 5, 6, 7, 8, 9))

45

In [ ]:
# Ejercicio 81
def mostrar_info(**datos):
    for clave, valor in datos.items():
        print(f"{clave}: {valor}")


mostrar_info(nombre="Juan", edad=25, ciudad="Madrid")

nombre: Juan
edad: 25
ciudad: Madrid

In [ ]:
# Ejercicio 82
def cuadrado(n):
    return n**2


print(cuadrado(10))

100

In [ ]:
# Ejercicio 83
def operaciones(a, b):
    suma = a + b
    resta = a - b
    return suma, resta


resultado = operaciones(8, 3)
print(resultado)

suma, resta = operaciones(8, 3)
print(f"Suma: {suma}, Resta: {resta}")

(11, 5)
Suma: 11, Resta: 5

In [ ]:
# Ejercicio 84
def mensaje():
    print("Hola, mundo!")


resultado = mensaje()
print(resultado)

Hola, mundo!
None

### 5.4.

In [ ]:
# Ejercicio 85
def suma(x, y):
    return x + y


print(suma(3, 5))

8

In [97]:
# Ejercicio 86
numeros = [1, 2, 3, 4, 5]
cuadrados = list(map(lambda x: x**2, numeros))

print(cuadrados)

[1, 4, 9, 16, 25]

In [98]:
# Ejercicio 87
numeros = [10, 15, 21, 30, 35]
pares = list(filter(lambda x: x % 2 == 0, numeros))

print(pares)

[10, 30]

In [99]:
# Ejercicio 88
from functools import reduce

numeros = [1, 2, 3, 4, 5]
producto = reduce(lambda x, y: x * y, numeros)

print(producto)

120

### 5.5.

In [100]:
# Ejercicio 89
import math

print(math.sqrt(25))
print(math.pi)

5.0
3.141592653589793

In [101]:
# Ejercicio 90
from math import sqrt, pi

print(sqrt(36))
print(pi)

6.0
3.141592653589793

In [102]:
# Ejercicio 91
import datetime as dt

ahora = dt.datetime.now()
print(ahora)

2025-08-10 14:07:37.990260

In [ ]:
# Ejercicio 92
# operaciones.py
def suma(a, b):
    return a + b


def resta(a, b):
    return a - b

In [104]:
# Ejercicio 93
import operaciones

print(operaciones.suma(5, 3))
print(operaciones.resta(10, 4))

8
6

In [105]:
# Ejercicio 94
from operaciones import suma

print(suma(7, 2))

9

In [131]:
# Ejercicio 95
import sys

sys.path.append(".")  # ruta/del/modulo

import operaciones

### 6.

### 6.1.

In [106]:
# Ejercicio 96
# Lista con diferentes tipos de datos
mi_lista = [1, "Hola", 3.14, True]

print(mi_lista)

[1, 'Hola', 3.14, True]

In [107]:
# Ejercicio 97
print(mi_lista[1])  # Salida: Hola

Hola

In [108]:
# Ejercicio 98
mi_lista[0] = 100

print(mi_lista)

[100, 'Hola', 3.14, True]

In [109]:
# Ejercicio 99
mi_lista.append("Python")

print(mi_lista)

[100, 'Hola', 3.14, True, 'Python']

In [110]:
# Ejercicio 100
mi_lista.remove(3.14)

print(mi_lista)

[100, 'Hola', True, 'Python']

In [111]:
# Ejercicio 101
print(len(mi_lista))

4

In [112]:
# Ejercicio 102
mi_tupla = (10, 20, "Python", False)

print(mi_tupla)

(10, 20, 'Python', False)

In [113]:
# Ejercicio 103
print(mi_tupla[2])  # Salida: Python

Python

In [114]:
# Ejercicio 104
try:
    mi_tupla[0] = 99  # TypeError: 'tuple' object does not support item assignment
except TypeError as te:
    print(te)

'tuple' object does not support item assignment

In [115]:
# Ejercicio 105
lista_desde_tupla = list(mi_tupla)
lista_desde_tupla.append("Nuevo elemento")
mi_tupla_modificada = tuple(lista_desde_tupla)

print(mi_tupla_modificada)

(10, 20, 'Python', False, 'Nuevo elemento')

In [116]:
# Ejercicio 106
print(len(mi_tupla))  # Salida: 4

4

### 6.2.

In [117]:
# Ejercicio 107
mi_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
print(mi_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [118]:
# Ejercicio 108
lista_numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
mi_set = set(lista_numeros)
print(mi_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [119]:
# Ejercicio 109
mi_set.add(15)
print(mi_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15}

In [120]:
# Ejercicio 110
mi_set.remove(3)  # Elimina el 3 si existe
print(mi_set)

{1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15}

In [121]:
# Ejercicio 111
print(4 in mi_set)
print(10 in mi_set)

True
True

In [122]:
# Ejercicio 112
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print(A | B)  # Unión: {1, 2, 3, 4, 5, 6}
print(A & B)  # Intersección: {3, 4}
print(A - B)  # Diferencia: {1, 2}
print(A ^ B)  # Diferencia simétrica: {1, 2, 5, 6}

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

In [123]:
# Ejercicio 113
datos_persona = {"nombre": "Martha", "edad": 20, "ciudad": "Lisboa"}
print(datos_persona)

{'nombre': 'Martha', 'edad': 20, 'ciudad': 'Lisboa'}

In [124]:
# Ejercicio 114
print(datos_persona["nombre"])

Martha

In [125]:
# Ejercicio 115
datos_persona["edad"] = 31
print(datos_persona)

{'nombre': 'Martha', 'edad': 31, 'ciudad': 'Lisboa'}

In [126]:
# Ejercicio 116
datos_persona["profesion"] = "Ingeniero"
print(datos_persona)

{'nombre': 'Martha', 'edad': 31, 'ciudad': 'Lisboa', 'profesion': 'Ingeniero'}

In [127]:
# Ejercicio 117
del datos_persona["ciudad"]
print(datos_persona)

{'nombre': 'Martha', 'edad': 31, 'profesion': 'Ingeniero'}

In [128]:
# Ejercicio 118
for clave, valor in datos_persona.items():
    print(f"{clave}: {valor}")

nombre: Martha
edad: 31
profesion: Ingeniero

In [129]:
# Ejercicio 119
print("nombre" in datos_persona)
print("direccion" in datos_persona)

True
False

In [130]:
# Ejercicio 120
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Unión:", A | B)
print("Intersección:", A & B)
print("Diferencia:", A - B)

Unión: {1, 2, 3, 4, 5, 6}
Intersección: {3, 4}
Diferencia: {1, 2}